@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
body{
    background: #333333;
}
.header{
    background: url(../images/header__img.png) no-repeat center/cover;
    height: 100vh;
}

.list{
    display: flex;
    gap: 60px;
}
.link{
    font-family:"Open Sans";
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 24.51px;
    cursor: pointer;
}
.link.active{
    color: #D1A954;
}
.window__next{
    padding-top: 40px;
}
#link-number{
    font-family:"Open Sans";
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-bottom: 2px solid #D1A954;
    text-decoration: none;
}
.title{
    color: #fff;
    font-family:"Open Sans";
    font-weight: 700;
    font-size: 64px;
    width: 515px;
}
.text{
    font-weight: 400;
    font-size: 14px;
    font-family:"Open Sans";
    color: #fff;
}
.btn{
    background: #D1A954;
    color: #fff; 
    border: none;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    width: 160px;
    height: 50px;
    cursor: pointer;
}
.parent__title{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.parent__slider{
    position: relative;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 190px;
}
.img__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}
.imge{
    position: absolute;
    right: 7%;
    bottom: 10.5%;
}
.info{
    display: flex;
    flex-direction: column-reverse;
    width: 150px;
    height: 1045px;
    margin-top: -860px;
    align-items: center;
    background: rgba(51, 51, 51, 0.75);
    position: relative;
}
.info__title-text{
    color:  rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 35%;
    transform: rotate(-90deg);
}
.info__title{
    color:  rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
}
.check::after{
    content:'';
    width: 3px;
    height: 8%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 30%;
}
.icon{
    font-size: 28px;
    color:  rgba(255, 255, 255, 0.6);
    margin-bottom: 40px;
    cursor: pointer;
}
.icon:hover{
    color: #D1A954;
}
.menu{
    position: absolute;
    top: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
}
.menu__block-link{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin: 35px 39px 35px 39px;
    transition: 0.3s;
    cursor: pointer;
}
.menu__block-link:hover{
    color: #D1A954;
}
.menu__blok-icons{
    font-size: 45px;
    color: white;
}
.close{
    color: white;
    font-size: 35px;    
    cursor: pointer;
    margin-left: 92%;
}
.menu__block{
    width: 70%;
    height: 102%;
    background: #333333;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    transition: .5s;
}
.menu__blok-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.you{
    margin-top: 35px;
    cursor: pointer;
    transition: 0.3s;
}
.you:hover{
    color: #D1A954;
}
.section__title{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-top: 150px;
}
.section__title span{
    color: #D1A954;
}
.section__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 150px;
}
.page__title{
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 40px;
}
.page__text{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    width: 445px;
    height: 210px;
    margin-bottom: 20px;
}
.payment__title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 21px;
    color: white;
    margin-bottom: 40px;
}
.payment__text{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin: 15px 0px;
}
.payment__text span{
   color: gold;   
}
.title-text{
    color: white;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
}
.title-text span{
    color: gold;
}
.main__block{
    max-width: 500px;
    max-height: 550px;
    overflow: hidden;
    margin: auto;
}
.main__block{
    position: relative;
}
.main__block-img{
    opacity: 0;
}
.main__block-img.active{
    opacity: 1;
}
.main__btn-prev{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 58px;
    background: rgba(60, 60, 60, 0.75);
    border: none;
    color: gold;
    font-size: 30px;
    cursor: pointer;
}
.main__btn-next{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 58px;
    background: rgba(60, 60, 60, 0.75);
    border: none;
    color: gold;
    font-size: 30px;
    cursor: pointer;
}






